body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-btns {
    border: none;
    border-radius: 25px;
    transition: 150ms;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    min-width: 415px;
    min-height: 200px;
    color: white;
    -webkit-text-stroke: 1px black;
}

.game-btns:hover {
    scale: 1.05;
    outline: 3px solid gold;
    outline-offset: 10px;
    animation: borderOutlineGrowing 2s ease-in-out infinite;
}

.container {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    width: fit-content;
    gap: 50px;
}

#roulette {
    background-image: url("../Images/view-roulette-game-casino_23-2151007731.avif");
    background-size: cover;
    background-position-y: center;
}

#roulette-cell {
    grid-area: 0 / 1 / 1 / 2;
}

#slots {
    background-image: url("../Images/eugenia-vorontsova-promo-bg1.jpg");
    background-size: cover;
    background-position: center;
}

#classic-slots {
    background-image: url("../Images/classic-slots-logo.png");
    background-size: cover;
    background-position: center;
}

#slots-cell {
    grid-area: 1 / 2 / 2 / 3;
}

#blackjack {
    background-image: url("../Images/blackjack1.webp");
    background-size: cover;
    background-position: center;
}

#blackjack-cell {
    grid-area: 2 / 3 / 0 / 3;
}

#minesweep {
    background-image: url("../Images/minesweep_background.jpg");
    background-size: cover;
    background-position: center;
}

#Horse-Racing{
    background-image: url("../Images/istockphoto-478244976-612x612.jpg");
    background-size: cover;
    background-position: center;
}

#bottom-text {
    display: flex;
    color: grey;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
}

#about-link:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

#popular-games-title {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Lucida Sans Unicode';
    margin-left: -500px;
}

@keyframes borderOutlineGrowing {
    0%,
    100% {
        outline-offset: 0px;
    }

    50% {
        outline-offset: 7px;
    }
}