body {
    background-image: url(../Images/cartoon-forest-background-1920-x-1080-0xhrzw9zvozynyqh.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: space-around;
}

#doors {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.door {
    background: rgba(255, 119, 119, 0.89);
    width: 180px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 0 15px #000000 inset;
    overflow: hidden;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 5.5rem;
}

.box {
    border-radius: 15px;
    animation: breathe 2.5s ease-in-out infinite;
}

.bettingBtns {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(246, 17, 63);
    color: white;
    font-weight: 600;
    transition: 250ms ease-in-out;
}

.bettingBtns:hover {
    scale: 1.3;
    background-color: rgb(241, 25, 94);
}

.bettingBtns:active {
    scale: 1.4;
    background-color: rgb(246, 17, 63);
}

#max-bet-btn {
    width: 100px;
    border-radius: 15px;
    height: 50px;
}

#spinBtn {
    border: none;
    border-radius: 15px;
    background-color: #f3c018;
    transition: 150ms ease-in-out;
    color: white;
    font-weight: 700;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

#spinBtn:hover {
    scale: 1.2;
    background-color: #ffe23b;
}

#spinBtn:active {
    scale: 1.3;
    background-color: yellow;
}

#spinBtn:disabled {
    background-color: grey;
}

#betDisplay {
    text-align: center;
    color: white;
    width: 100px;
    margin: 0 20px;
}

#previousWin {
    display: flex;
    color: white;
}

#modify-bet-div {
    display: flex;
    justify-content: space-evenly;
}

#previous-win-div {
    display: flex;
    width: 250px;
    justify-content: center;
    padding: 5px;
    color: white;
    background-color: #0099ff;
    border-radius: 15px;
}

#game-controls {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

.slideInTop {
    animation: slideInTop 1s ease-in;
}

.flashForWin {
    animation: flashForWin 0.5s ease-in-out infinite;
}

@keyframes breathe {
    0%,
    100% {
        scale: 1;
        transform: rotate(-0.5deg);
    }

    50% {
        transform: rotate(0.5deg);
        scale: 1.05;
    }
}

@keyframes flashForWin {
    40% {
        transform: translateY(-5px);
        background: #f3c018;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInTop {

    100%,
    75%,
    85% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-10px);
    }

    95% {
        transform: translateY(-3px);
    }

    0% {
        transform: translateY(-480px);
    }
}